<%
var contextPath = req.protocol + '://' + req.get('host');
%>
<Html>
    <head>
        <title>ดูหนังฟรี</title>
        <%- include('common/index_css')%>
    </head>
    <body class="bg-body">
        <div class="container-fliud">
			<div class="row">
				<div class="col-12">
					<%- include('common/_header', {contextPath: contextPath})%>
				</div>
			</div>
        </div>
        <div class="container margintop">
			<div class="row">
				<div class="col-9">                    
					<div class="container">
                        <div class="row">
                            <div class="col-12 mt-2">

                                <!-- banner center movie-->
                                <div class="row">
                                    <a href="https://lin.ee/xk1Siza" target="_blank">
                                    <img  src="../image/center1.gif" width="100%" height="160px">
                                    </a>
                                </div>  
                                <br> 
                                <div class="row">
                                    <a href="https://lin.ee/54msfzi" target="_blank">
                                    <img  src="../image/center2.gif" width="100%" height="160px">
                                    </a>
                                </div>  
                                <br> 
                                <div class="row">
                                    <a href="https://lin.ee/pu3K4V8" target="_blank">
                                    <img  src="../image/center3.gif" width="100%" height="160px">
                                    </a>
                                </div>  
                                <br> 
                                <div class="row">
                                    <a href="https://lin.ee/xk1Siza" target="_blank">
                                    <img  src="../image/center4.gif" width="100%" height="160px">
                                    </a>
                                </div>  
                                <br>  
                                <div class="row">
                                    <a href="https://lin.ee/pu3K4V8" target="_blank">
                                    <img  src="../image/center5.gif" width="100%" height="160px">
                                    </a>
                                </div>  
                                <br>  
                                <div class="row">
                                    <a href="https://lin.ee/54msfzi" target="_blank">
                                    <img  src="../image/center6.gif" width="100%" height="160px"> 
                                    </a>
                                </div>  
                                <br> 
                                <br>
                                <div class="row" style="height:4px;
                                width: 104%;
                                background-color:white;">
                                </div>    
                                <br>
                                
                                <!--banner left right center-->
                                <div class="ad-float-right2">
                                    <li id="media_image-38">
                                        <div class="widgettitle-banner"></div>
                                        <a href="https://lin.ee/54msfzi" rel="nofollow noopener noreferrer" target="_blank">
                                            <img width="150" height="385" src="../image/right8.gif" style="max-width: 100%; height: auto;"></a></li>
                                 </div>
                                 <div class="ad-float-left2">
                                    <li id="media_image-38">
                                        <div class="widgettitle-banner"></div>
                                            <a href="https://lin.ee/xk1Siza" rel="nofollow noopener noreferrer" target="_blank">
                                                <img width="150" height="385" src="../image/left7.gif"style="max-width: 100%; height: auto;"></a>\</li>
                                 </div>
                                 <!-- <div class="ad-float-center">
                                        <a href="https://movie2uhd.com/link-to.php?url=https://www.ufa666.com/" rel="nofollow noopener noreferrer" target="_blank">
                                            <img  src="../image/700x200.png"style="max-width: 100%; height: auto;">
                                 </div> -->

                                 

                                <div class="row"> 
                                <% 
                                if(movie !== null && movie !== undefined && Array.isArray(video) && video.length > 0){
                                %>
                                <h1 class="text-light"><%= movie.title%></h1>
                                    <!--
                                    <div class="w3-bar w3-black">
                                        <button class="w3-bar-item w3-button" onclick="openCity('1')">ลิงค์หลัก</button>
                                        <button class="w3-bar-item w3-button" onclick="openCity('2')">สำรอง</button>
                                    </div>
                                    -->
                                    
                                    <div class="embed-responsive embed-responsive-16by9 border border-info">
                                        <div id="London" class="w3-container w3-display-container city">
                                                <span onclick="this.parentElement.style.display='none'"
                                                class="w3-button w3-large w3-display-topright">&times;</span>
                                                <iframe class="embed-responsive-item" src="<%= video[0].url%>" allowfullscreen></iframe>
                                        </div> 
                                    </div>
                                
                                <% 
                                }else {
                                %>
                                <div class="text-light text-center">
                                    <span>ขออภัย ไม่พบหนังที่ต้องการ</span>
                                </div>
                                <%
                                }
                                %>
                            </div>
                            </div>
                            <div class="col-12 mt-2 text-light">
                                หมวดหมู่ : 
                                <% if(Array.isArray(movieCategory)){ 
                                    for(let i=0;i<movieCategory.length;i++){%>
                                        <a href="/category/<%= movieCategory[i].category%>"><%= movieCategory[i].category%></a>
                                        <span><%= i===(movieCategory.length-1)?'':','%></span></span>
                                <%  } 
                                }%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <%- include('common/_sidebar', {category: category})%>
                    <%- include('common/_contact')%>
				</div>
			</div>
        </div>
    
        <div class="content-site">
			<div class="container">
				<figure align="center">
						</figure>
						<div class = "footer-color"style="padding:10px;"><p>KingHD เว็บดูหนังออนไลน์ที่สามารถ <strong>
							<a href="/" data-wpel-link="internal">ดูหนัง</a>
							</strong> ได้ทุกที่ทุกเวลา ผ่านทางคอมพิวเตอร์ และมือถือ Iphone Ipad Tablet หรือ Android ทุกยี่ห้อ ผู้รับชมสามารถ <strong>
								<a href="/" data-wpel-link="internal">ดูหนังออนไลน์</a>
								</strong> ที่มีภาพคมชัดระดับ HD ตั้งแต่ 360px, 480px, 720px และ 1080px ไปจนถึงความคมชัด 4K หรือ Ultra HD นอกจากนี้ยังมี <strong>
									<a href="/" data-wpel-link="internal">หนังใหม่</a>
								</strong> ทุกแนวให้คุณได้รับชมฟรีทุกวัน ตลอด 24 ชม.</p>					
				</div> 
			</div>
		</div>  							
			<footer>
				<div class="container-footer" >
					<div class ="row" >
						<div class="col-12" >
							<div class ="footer">
								<%- include('common/_footer')%>
							</div>
						</div>	
					</div>
                </div>
                
                    <script>
                        function openCity(cityName) {
                        var i;
                        var x = document.getElementsByClassName("city");
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";  
                        }
                        document.getElementById(cityName).style.display = "block";  
                        }
                    </script>



			</footer>


        <%- include('common/index_js')%>
    </body>

</Html>