@font-face {
    font-family: sriracha-regular;
    src: url('/font/Sriracha/Sriracha-Regular.ttf');
}

body {
    font-family: sriracha-regular;
}

a {
    color: inherit;
}
.mlist-container {
    padding: 2px;
    border-radius: 10px;
}

.mlist-container .mlist-head {
    background-color: #1E224F;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    text-align: center;  
    border-radius: 5px 5px 0px 0px;
}

.mlist-headmovie{
    background-color: #1E224F;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size:20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.mlist-headmovie-top{
    background-color: #1E224F;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size:20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.mlist-container .mlist-item {
    background-color: rgba(1,1,1,0.11);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color:#FF8D76;
    text-align: center;
}
.mlist-item {
    display: block;
    background-color: rgba(1,1,1,0.11);
}

.mlist-item:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(1,1,1,0.11);
}

.nav-black {
    background-color: #1E224F;
    color: #FFFFFF;
    text-align: center;
    padding-left: 30%;
}

/*.nav-link .page-item{
    color:#FFFFFF;
}*/

/*.nav-item{
    border-color: #e14eca;
    color: #e14eca;
}*/


.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nav-item {
    background-color: transparent;
    border: 2px solid #1E224F;
}

.nav-item:hover {
    background-color: transparent;
    border: 2px solid #ff85e6;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}

.card:hover {
    color: #fffc04;
}


.bg-body {
    background-color: #16193F;
    background-image: url('../image/bgking.png');
    background-size: contain;
}

s
.bg-darker{
    background-color: #000000;
}

.card-align{
    text-align: center;
}

.margintop{
    margin-top:2em;
}

.card{
    background-color: #692659;
    color: #FFFFFF;
}

.test{
    padding: 5px 20px;
}

.container-logo{
    width:100%;
    margin: 0 auto ;
    display: flex;
}

.header{
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-head{
    margin:1%;
}


.h1-logo {
    color: #FFFFFF;
    background-color: #000;
    opacity: 0.6;
    margin: auto;
    /* margin-top: 10px; */
    padding: 10px;
    font-weight: 400;
}


.h1-logo{
    text-align: center;
    top: 50%;
}

.header-center{
    text-align: center;
    width: 45%;
    margin: auto 0;
}

.h1-logo{
    font-size: 30px;
}

.search-top{
    margin: auto 0;
    display: flex;
}

.quality-corner{
    width: 30%;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    right: -2px;
    left: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px #222;
    position: absolute;
    top: -1px;
}

.quality-HD{
    background: #dc0603;
}

.quality-corner2{
    width: 25%;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    right: 76%;
    left: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px #222;
    position: absolute;
    top: -1px;
}

.quality-HD2{
    background:#000000 url('../image/star.webp') no-repeat left center;
    padding: 2px 5px 2px 22px;
}

.footer-color{
    color: #f0f0f0;
}

.footerlow{
   background-color: #692659;
   text-align: center;
   padding: 10px;
    
}

.border-color{
    border: 1px solid #FBDB89;
}

.mlist-header{
    text-align: left;
    background-color:#FBDB89;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    padding-left: 10px;
}

.fontcolor:hover{
    color:#FFFFFF;
}

.page-item.active .page-link {
    background-color: #692659;
    border-color: #692659;
}

.page-link {
    color: #692659;
}

.page-link:hover {
    color: #692659;
}

.border-bg {
    background: radial-gradient(circle, rgba(26,1,85,1) 0%, rgba(5,14,134,1) 45%, rgba(1,14,60,1) 100%);
    height: 6px;
    clear: both;
}

.footer-link{
    color: #000000;
}

a:hover{
    color: #fffc04;
}

.setcard{
    padding-left: 9px;
    width: 98%;
}

.ad-float-right2 {
    position: fixed;
    top: 55%;
    right: 15px;
    list-style: none;
    width: 160px;
    height: 474px;
    z-index: 99999;
}

.ad-float-left2 {
    position: fixed;
    top: 55%;
    left: 15px;
    list-style: none;
    width: 160px;
    height: 474px;
    z-index: 99999;
}

.ad-float-center {
    position: fixed;
    top: 85%;
    right: auto;
    list-style: none;
    width: 800px;
    height: 200px;
    z-index: 99999;
}




/*.head-icon:hover{
    width: 100%;
    height: 280px;
    line-height: 280px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: 0;
}*/


