<div class="mlist-container">
    <div class ="sidebar-right" >
        <div class="mlist-head">หมวดหมู่</div>
    <%
    if(category !== null){
        for(const cat of category) {
    %>
    <a class="mlist-item" href="/category/<%= cat.category%>"><%= cat.category%></a>
    <%
        }
    }
    %>
    </div>
</div>